/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&family=Poppins:wght@700');

/* Fontawesome */
@import url('https://use.fontawesome.com/releases/v6.1.2/css/all.css');
@import url(components/banner.css);
@import url(components/cards.css);
@import url(components/container.css);
@import url(components/footer.css);
/* Utilities */
body {
  margin: 0;
  font-family: Open Sans;
  height: 100vh;
  background-color: rgba(250, 229, 221, 0.667);
}

h1, h2, h3, h4 {
  font-family: Poppins;
}

a {
  text-decoration: none;
  font-size: 30px;
}

/* Custom design below! */

p{
  color:lightslategray;
}

.text-center{
  text-align: center;
}

.Facebook {
  text-align: center;
  font-weight: 400;
}

.h1-text {
  font-size: 50px;
  color: crimson;
}

.btn{
  background-color: crimson;
  padding: 16px 16px;
  border-radius: 50px;
  margin-top: 10px;
  color: aliceblue;
  font-size: 20px;
  justify-content: center;
  display: flex;
  transition: 0.3s;
  text-align: center;
  width: 200px;
  margin: auto;
  text-decoration: none;
  font-family: Poppins;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.5;
}

.btn-color{
  color: aliceblue;
}

.btn:hover{
  background-color: darkred;
}
